[build]
command = "npm run build"
publish = "dist"
functions = "netlify/functions"

[[redirects]]
from = "/*"
to = "/index.html"
status = 200

[[headers]]
for = "*.js"
[headers.values]
Content-Type = "application/javascript; charset=utf-8"

[[headers]]
for = "*.json"
[headers.values]
Content-Type = "application/json; charset=utf-8"

[dev]
command = "npm run dev"
port = 5173

[context.production]
environment = { NODE_ENV = "production" }
